In [2]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101",periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.943932  1.291133  0.020564 -0.960907
2013-01-02 -1.208862 -0.497634 -0.067550 -0.136205
2013-01-03  1.637463  1.217654  0.205557 -0.619432
2013-01-04  0.479350  1.312738  0.236171  1.197512
2013-01-05  1.911413  0.527451 -0.066453 -0.669882
2013-01-06  0.583490 -1.077284 -0.490687  0.785850

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
print(df2.dtypes)
print(df2.bool)
print(df2.diff)
print(df.head())
print(df.tail(3))
print(df.index)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
<bound method NDFrame.bool of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>
<bound method DataFrame.diff of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>
                   A         B         C         D
2013-01-01  0.943932  1.291133  0.020564 -0.960907
2013-01-02 -1.208862 -0.497634 -0.067550 -0.136205
2013-01-03  1.637463  1.217654  0.205557 -0.619432
2013-01-04  0.479350  1.312738  0.236171  1.197512
2013-01-05  1.911413  0.527451 -0.066453 -0.669882
                   A         B         C         D
2013-01-04  0.479350  1.312738  0.236171  1.197512
2013-01-05  1.911413  0.527451 -0.066453 -0.669882
2013-01-06  0.583490 -1.077284 -0.490687  0.785850
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
print(df.columns)
print(df.to_numpy)

Index(['A', 'B', 'C', 'D'], dtype='object')
<bound method DataFrame.to_numpy of                    A         B         C         D
2013-01-01  0.943932  1.291133  0.020564 -0.960907
2013-01-02 -1.208862 -0.497634 -0.067550 -0.136205
2013-01-03  1.637463  1.217654  0.205557 -0.619432
2013-01-04  0.479350  1.312738  0.236171  1.197512
2013-01-05  1.911413  0.527451 -0.066453 -0.669882
2013-01-06  0.583490 -1.077284 -0.490687  0.785850>

In [18]:
print(df.describe())

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.724464  0.462343 -0.027066 -0.067177
std    1.105286  1.027308  0.262225  0.871648
min   -1.208862 -1.077284 -0.490687 -0.960907
25%    0.505385 -0.241362 -0.067276 -0.657269
50%    0.763711  0.872553 -0.022945 -0.377818
75%    1.464080  1.272763  0.159309  0.555336
max    1.911413  1.312738  0.236171  1.197512

In [19]:
# 转置
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.943932   -1.208862    1.637463    0.479350    1.911413    0.583490
B    1.291133   -0.497634    1.217654    1.312738    0.527451   -1.077284
C    0.020564   -0.067550    0.205557    0.236171   -0.066453   -0.490687
D   -0.960907   -0.136205   -0.619432    1.197512   -0.669882    0.785850

In [22]:
# 按轴排序
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.960907  0.020564  1.291133  0.943932
2013-01-02 -0.136205 -0.067550 -0.497634 -1.208862
2013-01-03 -0.619432  0.205557  1.217654  1.637463
2013-01-04  1.197512  0.236171  1.312738  0.479350
2013-01-05 -0.669882 -0.066453  0.527451  1.911413
2013-01-06  0.785850 -0.490687 -1.077284  0.583490

In [26]:
# 按值排序
df.sort_values(by="B",ascending=True)

                   A         B         C         D
2013-01-06  0.583490 -1.077284 -0.490687  0.785850
2013-01-02 -1.208862 -0.497634 -0.067550 -0.136205
2013-01-05  1.911413  0.527451 -0.066453 -0.669882
2013-01-03  1.637463  1.217654  0.205557 -0.619432
2013-01-01  0.943932  1.291133  0.020564 -0.960907
2013-01-04  0.479350  1.312738  0.236171  1.197512

In [29]:
df.A
df["A"]

2013-01-01    0.943932
2013-01-02   -1.208862
2013-01-03    1.637463
2013-01-04    0.479350
2013-01-05    1.911413
2013-01-06    0.583490
Freq: D, Name: A, dtype: float64

In [31]:
# 对行进行切片
df[0:3]

                   A         B         C         D
2013-01-01  0.943932  1.291133  0.020564 -0.960907
2013-01-02 -1.208862 -0.497634 -0.067550 -0.136205
2013-01-03  1.637463  1.217654  0.205557 -0.619432

In [32]:
# 对行进行切片
df["20130102":"20130103"]

                   A         B         C         D
2013-01-02 -1.208862 -0.497634 -0.067550 -0.136205
2013-01-03  1.637463  1.217654  0.205557 -0.619432